.home-title {
  width: 100%;
  display: flex;
  padding: 0 10px;
  margin: 20px 0 40px 0;
  flex-direction: row;
  justify-content: center;
}
.home-title span.top {
  width: 26.6%;
  border-top: 3px solid black;
}
.home-title span.bottom {
  width: 26.6%;
  border-bottom: 3px solid black;
}
.home-title h1 {
  text-align: center;
  width: 26.6%;
}
/* Adjust width for mobile screens (less than 'md') */
@media (max-width: 768px) {
  .home-title {
    flex-direction: column;
  }
  .home-title span.top,
  .home-title span.bottom {
    width: 100%;
  }
  .home-title h1 {
    text-align: center;
    width: 100%;
  }
}
