.login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-title {
  color: #3d3d3d;
}
.login-form {
  display: flex;
  height: 100%;
  width: 40%;
  padding: 20px;
  flex-direction: column;
  color: #3d3d3d;
  justify-content: center;
}
.login-input-field {
  width: 60%;
  padding: 8px;
  height: 48px;
  border: 2px solid #3d3d3d;
  margin-bottom: 10px;
}
.keep-signed {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  /* align-content: center; */
  flex-direction: row;
}
.keep-signed input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
.login-button {
  background-color: #3d3d3d;
  color: white;
  padding: 8px;
  height: 48px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 60%;
}
.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: small;
  width: 60%;
}
#root {
  height: 100vh;
}

/* Adjust width for mobile screens (less than 'md') */
@media (max-width: 768px) {
  :root {
    padding: 20px;
  }
  .login-form {
    width: 80%;
  }
  .login-input-field,
  .login-button {
    width: 100%;
  }
}
